.computer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	pointer-events: none;
}

.computer__container {
	height: 100%;
	position: relative;
	overflow: visible;
}

.computer__computer1 {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 550px;
}

.computer__computer2 {
	position: absolute;
	bottom: -40px;
	right: -80px;
	height: 550px;
}

@media (max-width: 992px) {
	.computer__computer1 {
		right: -200px;
	}
	.computer__computer2 {
		right: -150px;
	}
}
