.footer {
	background: var(--color-violet);
	color: var(--color-text-1);
	font-size: 14px;
	position: relative;
}

@media (max-width: 768px) {
	.footer__list,
	.footer__bottom-social {
		text-align: center;
	}
}
