/**
 * Import styles
 */

@import "@/styles/font.css";
@import "@/styles/vars.css";
@import "@/styles/Button.css";
@import "@/styles/Logo.css";
@import "@/styles/Navbar.css";
@import "@/styles/Brands.css";
@import "@/styles/Banner.css";
@import "@/styles/Computer.css";
@import "@/styles/SectionContent.css";
@import "@/styles/AboutCard.css";
@import "@/styles/About.css";
@import "@/styles/Avatar.css";
@import "@/styles/Team.css";
@import "@/styles/CustomerSection.css";
@import "@/styles/Social.css";
@import "@/styles/FooterList.css";
@import "@/styles/Footer.css";
@import "@/styles/WaitingFor.css";
@import "@/styles/App.css";

body,
p,
h1,
h2,
h3,
ul,
li,
figure {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Proxima Nova", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body {
	background: #f7f3fa;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
