.section-title {
	font-size: 40px;
	font-weight: 800;
	color: var(--color-text-1);
}

@media (max-width: 992px) {
	.section-title {
		font-size: 24px;
	}
}

.section-title .violet {
	color: var(--color-violet-alt);
}
