.team {
	width: 100%;
	height: 500px;
	position: relative;
	z-index: 2;
}

.team--1,
.team--2,
.team--3,
.team--4,
.team--5 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: auto;
	transition: all 500ms ease-in-out;
}

.team--1 {
	top: 0;
	bottom: auto;
	left: 0;
	right: auto;
}

.team--2 {
	top: -50px;
	bottom: auto;
	right: 0;
	left: auto;
}

.team--3 {
	top: 200px;
	bottom: auto;
	left: auto;
	right: 30px;
}

.team--4 {
	top: auto;
	bottom: 0;
	left: 50px;
	right: auto;
}

.team--5 {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
}

.team__about {
	width: 300px;
	position: absolute;
	top: calc(132px + 20px);
	transform: translateX(-25%);
	pointer-events: none;
}

.team__text {
	font-size: 16px;
	font-weight: 700;
	color: white;
	text-align: center;
}

.team__name,
.team__position {
	color: var(--color-cta-1);
	text-align: center;
}

.team__name {
	font-size: 21px;
	font-weight: 900;
}

.team__position {
	font-size: 14px;
	font-weight: 700;
}
