:root {
	--color-cta-1: #ffbc51;
	--color-cta-1-lighten: #ffcd7d;
	--color-cta-2: #798ac9;
	--color-cta-2-lighten: #92a5e9;
	--color-violet: #210933;
	--color-violet-alt: #5c0e62;
	--color-violet-alt-lighten: #a11eaa;
	--color-text-1: #857885;
	--color-red: #e23434;
	--color-grey: #5c5e6e;
	--color-grey-alt: #a39d9d;
}
